<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanhuo.mapper.CaseAnalyzeMapper">



	<!-- 案件统计 -->
	<select id="getCaseCount" resultType="int" parameterType="string">
		select count(distinct ajbh)
		from case_analyze
		<where>
			<if test="caseDate != null and caseDate != '' ">
				and case_date = #{caseDate}
			</if>
		</where>
	</select>

	<!-- 案件所属月份统计 -->
	<select id="getCaseMonthCount" resultType="map">
		select concat(count(distinct ajbh),'') nu, SUBSTR(case_date,6,2) mon from case_analyze group by mon
	</select>

	<!-- url统计 -->
	<select id="getCaseUrl" resultType="com.xuanhuo.pojo.URIPojo" parameterType="string">
		select distinct url from case_analyze
		<where>
			and url is not null
			<if test="caseDate != null and caseDate != '' ">
				and case_date = #{caseDate}
			</if>
		</where>
	</select>

	<!-- URL收录到黑样本库的数量 -->
	<select id="getCaseYjUrl" resultType="int" parameterType="string">
		select count(mid.url)
		  from ids_tag_szwz_bqz_di_fraud fraud join case_analyze  mid on mid.url like CONCAT('%',fraud.host,'%')
		<where>
			and mid.url is not null
			<if test="caseDate != null and caseDate != '' ">
				and case_date = #{caseDate}
			</if>
		</where>

	</select>

	<!-- 手机号统计 -->
	<select id="getCasePhone" resultType="com.xuanhuo.pojo.PhonePojo" parameterType="string">
		SELECT
		CASE
		WHEN lx = '手机号码' THEN
		hm
		WHEN lx != '手机号码'
		AND LENGTH( phone )>= 11 THEN
		phone ELSE hm
		END  no
		FROM
		case_analyze ca
		<where>
			and (LENGTH( phone )>= 11 OR ( lx != '微信' AND upper( lx )!= 'QQ' ))
			<if test="caseDate != null and caseDate != '' ">
				and case_date = #{caseDate}
			</if>
		</where>

	</select>

	<!-- 手机号预警总数 -->
	<select id="getCasePhoneWarnCount" resultType="int" parameterType="string">
		SELECT
			count( DISTINCT NO )
		FROM
		( SELECT
			CASE
	        WHEN
		     lx = '手机号码' THEN hm
		    WHEN
		     lx != '手机号码' AND LENGTH( phone )>= 11 THEN phone
		    ELSE hm END no
		   FROM
		    case_analyze
		    <where>
				and ( LENGTH( phone )>= 11 OR ( lx != '微信' AND upper( lx )!= 'QQ' ))
				<if test="caseDate != null and caseDate != '' ">
					and case_date = #{caseDate}
				</if>
			</where>
		) mid
	  WHERE
		mid.NO IN (
		 SELECT msisdn
		   FROM ids_tag_prewarn_bqz_di)
	</select>

	<select id="getCasePhoneWarn" resultType="map">
		select concat(count(mid.id),'') nu,SUBSTR(case_date,6,2) mon from case_analyze  mid
		inner join ids_tag_prewarn_bqz_di idsb on mid.phone = idsb.msisdn   group by mon
	</select>

	<!-- 案件简要案情 -->
	<select id="getCaseAq" resultType="com.xuanhuo.pojo.CaseAqPojo" parameterType="string">

		select ajbh,case_date mon,jyaq from case_analyze
		<where>
			<if test="caseDate != null and caseDate != '' ">
				and case_date = #{caseDate}
			</if>
		</where>

	</select>

	<!-- 案件APP统计 -->
	<select id="getCaseApp" resultType="map" parameterType="string">

	    select apps,concat(count(*),'') nu from case_analyze
		<where>
			and apps !='[]'
			<if test="caseDate != null and caseDate != '' ">
				and case_date = #{caseDate}
			</if>
		</where>
		group by apps

	</select>

	<!-- 案件类型统计 -->
	<select id="getCaseType" resultType="map" parameterType="string">
	    select ajdl,count(*) nu  from case_analyze mid
		<where>
			<if test="caseDate != null and caseDate != '' ">
				and case_date = #{caseDate}
			</if>
		</where>
		group by ajdl
		order by nu desc

	</select>

	<!-- 案件类型统计 -->
	<select id="getTypeWarnCount" resultType="map" parameterType="string">
	    select concat(count(mid.url),'') nu,ajdl
		  from ids_tag_szwz_bqz_di_fraud fraud
		  join case_analyze mid
		    on mid.url like CONCAT('%',fraud.host,'%')
		<where>
		    and  mid.url is not null
			<if test="caseDate != null and caseDate != '' ">
				and case_date = #{caseDate}
			</if>
		</where>
		 group by ajdl

	</select>




</mapper>