<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanhuo.mapper.WeeklyReportMapper">

	<!-- 调用f_tj_sql来获取相关统计SQL -->
	<select id="callSqlFunction" parameterType="map" statementType="CALLABLE">
		{#{sql,jdbcType=VARCHAR,mode=OUT} =
			call f_tj_sql(
					#{bbbm,jdbcType=VARCHAR,mode=IN},
					#{zbbm,jdbcType=VARCHAR,mode=IN},
					#{ksrq,jdbcType=VARCHAR,mode=IN},
					#{jsrq,jdbcType=VARCHAR,mode=IN}) }
	</select>
	<!-- 日志统计 sdyyssj替换为 st_date_count_dm（ODPS） -->
<!--	<select id="selectLogByService" parameterType="map" resultType="map">-->
<!--		select concat('山东'，num_type) as type,concat(ROUND(num/100000000),'') nu,day_id-->
<!--		  from st_data_count_dm-->
<!--		 where day_id between #{ksrq} and #{jsrq} and tablename='hlw_fz.t_logs'-->
<!--		   and num_type in ('移动','联通','电信')-->
<!--		 order by num_type,day_id-->
<!--	</select>-->
	<select id="selectLogByService" parameterType="map" resultType="map">
		select day_id as dt,concat(ceil(sum(num)/100000000),'') as num
		from st_data_count_dm
		where tablename='hlw_fz.t_logs'
		  and num_type=#{type}
		  and day_id between DATE_FORMAT(to_date(#{ksrq},'yyyyMMdd'),'yyyy-MM-dd') and DATE_FORMAT(to_date(#{jsrq},'yyyyMMdd'),'yyyy-MM-dd')
		group by day_id
		order by day_id
	</select>

	<!-- 预警数据近一周的活跃网站数量统计 -->
	<select id="select4weekwarn" parameterType="com.xuanhuo.pojo.StaticDate" resultType="map">
		SELECT COUNT(DISTINCT host) nu FROM yjsj_push WHERE dt BETWEEN date_format(#{week1Start},'%Y-%m-%d') AND date_format(#{week1End},'%Y-%m-%d')
		union
		SELECT COUNT(DISTINCT host) nu FROM yjsj_push WHERE dt BETWEEN date_format(#{week2Start},'%Y-%m-%d') AND date_format(#{week2End},'%Y-%m-%d')
		union
		SELECT COUNT(DISTINCT host) nu FROM yjsj_push WHERE dt BETWEEN date_format(#{week3Start},'%Y-%m-%d') AND date_format(#{week3End},'%Y-%m-%d')
		union
		SELECT COUNT(DISTINCT host) nu FROM yjsj_push WHERE dt BETWEEN date_format(#{week4Start},'%Y-%m-%d') AND date_format(#{week4End},'%Y-%m-%d')
	</select>

	<!-- 预警数据近四周变化趋势统计 -->
	<select id="select4weekwarnTrend" parameterType="com.xuanhuo.pojo.StaticDate" resultType="map">
		SELECT COUNT(1) nu FROM yjsj_push WHERE dt BETWEEN date_format(#{week1Start},'%Y-%m-%d') AND date_format(#{week1End},'%Y-%m-%d')
		union
		SELECT COUNT(1) nu FROM yjsj_push WHERE dt BETWEEN date_format(#{week2Start},'%Y-%m-%d') AND date_format(#{week2End},'%Y-%m-%d')
		union
		SELECT COUNT(1) nu FROM yjsj_push WHERE dt BETWEEN date_format(#{week3Start},'%Y-%m-%d') AND date_format(#{week3End},'%Y-%m-%d')
		union
		SELECT COUNT(1) nu FROM yjsj_push WHERE dt BETWEEN date_format(#{week4Start},'%Y-%m-%d') AND date_format(#{week4End},'%Y-%m-%d')
	</select>

	<!-- 黑样本库本周总量 -->
	<select id="getHybbzzl" parameterType="map" resultType="map">
		<![CDATA[
			SELECT COUNT(1) nu
			  FROM ids_tag_szwz_bqz_di_fraud
			 where  (icp_number is null or icp_number='null'  or icp_number='' or icp_number='无备案号信息')
			   and  dt >= #{ksrq} and dt <= #{jsrq}
		]]>
	</select>

	<!-- 累计总量 -->
	<select id="getHybkljzl" resultType="map">
			SELECT COUNT(1) nu
              FROM ids_tag_szwz_bqz_di_fraud
		    where (icp_number is null or icp_number='null' or icp_number='' or icp_number='无备案号信息')

	</select>

	<!-- 黑样本库近四周数据 -->
	<select id="getHybkFourWeek" parameterType="map" resultType="map">
		SELECT weekofyear(FROM_UNIXTIME(UNIX_TIMESTAMP(dt,'yyyymmdd'),'yyyy-mm-dd')) week,COUNT(1) nu from ids_tag_szwz_bqz_di_fraud
		where dt between #{ksrq} and #{jsrq}
		  and (icp_number is null or icp_number='' or icp_number='null'  or icp_number='无备案号信息')
		group by weekofyear(FROM_UNIXTIME(UNIX_TIMESTAMP(dt,'yyyymmdd'),'yyyy-mm-dd'))
	</select>

	<!-- 日志质量 -->
	<select id="getLogQuality" parameterType="String" resultType="map">
		select num,num_type,tablename from st_data_count_dm where day_id=#{rq}
	</select>

	<select id="getAppNet" parameterType="String" resultType="map">
		select source,concat(sum(t.num),'') numstr
		  from (
		  		select case when source in  ('apk-analysis-dynamic','api','api_app_dyn_analysis') then 'app' else 'netcent' end source,
		  		       count(1) num
		  		  from ids_tag_szwz_bqz_di_fraud
		  		 where dt between #{ksrq} and #{jsrq}
		  	    group by source

		  ) t
		group by source
	</select>

	<!-- qq 微信统计 -->
	<select id="getQQWX" parameterType="String" resultType="map">
		select t.type,concat(t.num,'') num ,t.dt
		  from ( select'qq' type ,count(*) num,DATE_FORMAT(send_time,'%Y-%m-%d') dt
		           from internet_fraud_url_discuss_result
		          where qqCode !=''
		            and DATE_FORMAT(send_time,'%Y-%m-%d') BETWEEN #{ksrq} and #{jsrq}
		       GROUP BY DATE_FORMAT(send_time,'%Y-%m-%d')
         UNION all
        select 'wchart' type ,concat(count(*),'') num,DATE_FORMAT(send_time,'%Y-%m-%d')dt
          from internet_fraud_url_discuss_result
         where wxCode !=''
           and DATE_FORMAT(send_time,'%Y-%m-%d') BETWEEN #{ksrq} and #{jsrq}
      GROUP BY DATE_FORMAT(send_time,'%Y-%m-%d'))t
	</select>

</mapper>